body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

header {
  display: inline-block;
  width: 100%;

  .logo {
    display: inline-block;
    text-decoration: none;
    font-size: 50px;
    color: black;
    margin-left: 40px;
    // text-align: center;
    // margin: 20px calc((100% - 186px) / 2);
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  nav {
    // display: inline-block;
    float: right;
    margin: 25px;

    a {
      float: left;
      font-size: 20px;
      color: black;
      text-decoration: none;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    }
  }
}
.container {
  display: inline-block;
  width: 100%;
  .pica {
    display: inline-block;
    // float: left;
    width: 400px;
    text-align: center;
    h4 {
      margin: 30px calc((100% - 275px) / 2) 10px;
    }

    p {
      max-width: 300px;
      float: left;
      margin: 20px calc((100% - 300px) / 2);
      // margin-left: 30px;
    }
    button {
      display: inline-block;
      background-color: rgba(76, 175, 79, 0.767);
      border-radius: 7px;
      border: none;
      color: white;
      padding: 7px 40px;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
    }
    .krepselis {
      display: inline-block;

      button {
        margin-top: 3px;
        padding: 7px 97px;
        background-color: rgba(76, 175, 79, 0.767);
      }
    }

    button:hover {
      background-color: green;
    }
    button:focus {
      background-color: green;
      outline: none;
    }
  }
}
